[submodule "materialshell"]
	path = materialshell
	url = https://github.com/carloscuesta/materialshell.git
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
