.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

jetbrains/.settings.json
*.log
terminal/modified_themes/*
.idea
.DS_Store

0-vars.zsh
logs/*
!logs/.gitkeep